<robot name="A4">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.01586699356800909" ixy="-5.285486188775424e-06" ixz="7.740989656745524e-06" iyy="0.01586001161920322" iyz="7.128224068660015e-06" izz="0.01578580639843277" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/A4_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/A4_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>