<robot name="B2">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.01722254018848317" ixy="8.871033713065861e-06" ixz="-1.1270838809132727e-05" iyy="0.015609687838639204" iyz="1.94205163667105e-06" izz="0.018108404123481737" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/B2_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/B2_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>