<robot name="B3">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.011153875596754213" ixy="-1.439249739164511e-05" ixz="-5.12860181141111e-06" iyy="0.012479640804317125" iyz="5.361086348542138e-06" izz="0.013811651197599343" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/B3_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/B3_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>