<robot name="B5">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.014188614077007373" ixy="-3.884523117250096e-06" ixz="2.967341458085764e-06" iyy="0.012933637952488765" iyz="2.586452953498849e-06" izz="0.011044207591498758" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/B5_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/B5_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>