<robot name="B6">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.014421122360253159" ixy="-1.4458266069259108e-05" ixz="-2.4794611995785212e-05" iyy="0.017254132779644736" iyz="1.8091522003698418e-05" izz="0.014986837418324125" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/B6_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/B6_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>