<robot name="C2">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.014364333114343677" ixy="8.666851288480712e-06" ixz="3.4859854864333033e-06" iyy="0.014365732604197726" iyz="-4.616492239184702e-06" izz="0.015917439513964342" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/C2_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/C2_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>