<robot name="C4">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.01564226919106461" ixy="3.9608596747795734e-05" ixz="4.010445991909626e-05" iyy="0.022774999255166066" iyz="9.908221883781424e-06" izz="0.01741344686268026" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/C4_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/C4_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>