<robot name="C6">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.012813190184246015" ixy="9.918004289845943e-06" ixz="2.94921867088801e-05" iyy="0.015051889087676809" iyz="6.04475786368097e-06" izz="0.011628424899920315" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/C6_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/C6_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>