<robot name="D1">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.018247110484051324" ixy="-1.9325245160936333e-05" ixz="-2.455517170876226e-05" iyy="0.018230453194675863" iyz="-5.4053268537471955e-05" izz="0.01947076552035141" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/D1_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/D1_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>