<robot name="D2">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.019623301632966036" ixy="-1.7170980262983483e-05" ixz="-8.090428676959117e-06" iyy="0.01944693777858568" iyz="5.781964961949373e-06" izz="0.01967347612528658" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/D2_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/D2_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>