<robot name="D3">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.01392669638327374" ixy="-4.0138283331832694e-05" ixz="7.970537719871349e-07" iyy="0.013921203634866241" iyz="6.950448042911091e-06" izz="0.014711801229562947" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/D3_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/D3_160_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>