<robot name="D4">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.015889911978058353" ixy="1.1807769999764743e-06" ixz="-1.7274022399900458e-05" iyy="0.015260948238911208" iyz="3.7355187656462606e-07" izz="0.01591800571203073" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/D4_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/D4_160_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>