<robot name="D5">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.014150360721514982" ixy="-1.161397414007966e-06" ixz="9.714816367305884e-06" iyy="0.014138999725511088" iyz="-1.26239464478611e-05" izz="0.01553301653110137" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/D5_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/D5_160_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>