<robot name="D6">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.014088425936904753" ixy="1.5310110111680658e-06" ixz="-3.150994115995503e-05" iyy="0.015471247279895734" iyz="1.111874672277097e-06" izz="0.014109519101530035" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/D6_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/D6_160_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>