<robot name="E0">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.013977172526659426" ixy="-9.304120456742955e-06" ixz="2.2418200364512133e-06" iyy="0.0082973209647274" iyz="-1.5367305202763202e-05" izz="0.015462286737653607" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/E0_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/E0_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>