<robot name="E1">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.01814620310906302" ixy="-7.440502373071011e-07" ixz="1.7032601285129955e-05" iyy="0.01898047791794193" iyz="3.597659136463223e-06" izz="0.018357228910562046" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/E1_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/E1_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>