<robot name="E2">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.02071478574146768" ixy="1.3375094753769636e-05" ixz="-3.826780554570554e-05" iyy="0.02432116373535915" iyz="-7.947044554360171e-06" izz="0.020013502543559478" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/E2_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/E2_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>