<robot name="E5">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.012603266153237173" ixy="8.914442922463617e-06" ixz="1.6188950842726723e-05" iyy="0.011789047001434296" iyz="5.422274233968212e-06" izz="0.014517748179393919" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/E5_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/E5_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>