<robot name="F0">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.00814431467676795" ixy="-1.8616347761323684e-06" ixz="5.8193393071438445e-05" iyy="0.015375887884274023" iyz="3.5453137574331832e-06" izz="0.008138749076700324" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/F0_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/F0_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>