<robot name="F1">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.015101262787868113" ixy="4.893214591752897e-06" ixz="3.435693032534495e-06" iyy="0.01392201697598497" iyz="-1.051149831043571e-05" izz="0.017306822298538863" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/F1_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/F1_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>