<robot name="F2">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.014222580099830712" ixy="-7.30750842781075e-06" ixz="2.3322545144313227e-05" iyy="0.01354501924031711" iyz="-1.0329706457806929e-05" izz="0.005628531164328479" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/F2_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/F2_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>