<robot name="F3">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.01861982629776626" ixy="-5.316246175772533e-06" ixz="2.304456630173161e-05" iyy="0.015977385766582586" iyz="4.27437560800991e-06" izz="0.015950394049712054" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/F3_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/F3_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>