<robot name="F4">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.017627882526811172" ixy="-1.6363637761894357e-05" ixz="3.395307033905844e-06" iyy="0.016180291575010868" iyz="7.843023815659822e-06" izz="0.014879348238417677" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/F4_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/F4_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>