<robot name="G0">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.00932040758078616" ixy="-2.470803189263013e-05" ixz="-2.1393022207251398e-07" iyy="0.00932378848454313" iyz="1.2233238285300565e-06" izz="0.015513136643657213" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G0_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G0_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>