<robot name="G2">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.008397823376684533" ixy="-1.719644143529363e-06" ixz="-1.9340893860281847e-07" iyy="0.004377663501042549" iyz="-1.2933650858502191e-06" izz="0.011695599837014181" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/G2_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/1DatasetGeneration/assets/grasp_objects/G2_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>