<robot name="G3">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.023534817177920133" ixy="2.474923342741324e-06" ixz="-1.7997355907955317e-06" iyy="0.01252140308305412" iyz="2.5714052572176482e-05" izz="0.012542113915700832" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G3_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G3_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>