<robot name="G4">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.009299013702681986" ixy="-2.9562022130710064e-06" ixz="1.8721651013039893e-05" iyy="0.009369000595712294" iyz="6.543367307774804e-06" izz="0.017659630495550138" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G4_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G4_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>