<robot name="G6">
  <link name="base">
    <inertial>
      <origin xyz="-0.0 -0.0 -0.0" />
      <mass value="1" />
      <inertia ixx="0.006145473724057736" ixy="3.660593462892281e-06" ixz="3.319438002086519e-05" iyy="0.011047093659003488" iyz="-2.504903520410899e-05" izz="0.006076495376098131" />
    </inertial>
    <visual>
      <origin xyz="-0.0 -0.0 -0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G6_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="/home/larissa/MastersProject/1DatasetGeneration/assets/grasp_objects/G6_150_100000_true_flood_64_true.obj" />
      </geometry>
    </collision>
  </link>
</robot>